# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Environment variables
.env

# Compiled source
dist/
 build/
  *.egg-info/

# Virtual environment
venv/
env/

# IDE files
.idea/
.vscode/

# Editor backups
*~
*.swp
*.swo

# Database files
database.db

# Logs
*.log




/python3/
/python/
/python2/
